extends layout 

block main 
  section#todos 
    header 
      h2 Editing "#{todoList.getTitle()}"
      ul 
        li 
          form.delete(action=`/lists/${todoList.getId()}/destroy` 
                      method="post")
            button.delete Delete List 

  form(action=`/lists/${todoList.getId()}/edit` method="post")
    dl 
      dt 
        label(for="todoTitle") Enter the new title for the list: 
      dd 
        input(type="text"
              name="todoListTitle"
              placeholder="List title"
              value=todoListTitle || todoList.getTitle())
    fieldset.actions 
      input(type="submit" value="Save")
      a(href=`/lists/${todoList.getId()}`) Cancel        