extends layout 

block main 
  section#todos(class=todoList.isDone() ? "done" : "")
    header 
      h2= todoList.getTitle()
      ul 
        if todoList.size() > 0 && !todoList.isDone()
          li 
            form.complete_all(action=`/lists/${todoList.getId()}/complete_all`
                              method="post")
              button.check(type="submit") Mark all complete
        li 
          form(action=`/lists/${todoList.getId()}/edit`
                method="get")
            button.edit(type="submit") Edit list
    ul 
      each todo in todos 
        li(class=todo.isDone() ? "done" : "")
          form.check(action=`/lists/${todoList.getId()}/todos/${todo.getId()}/toggle`
                     method="post")
            input(type="hidden" name="done" value=!todo.isDone())
            button Done 
          
          h3= todo.title 
          form.delete(action=`/lists/${todoList.getId()}/todos/${todo.getId()}/destroy`
                      method="post")
            button Delete

    form(action=`/lists/${todoList.getId()}/todos` method="post")
      dl 
        dt 
          label(for="todoTitle") Enter a new thing to do: 
        dd 
          input(type="text"
                name="todoTitle"
                placeholder="Something to do"
                value=todoTitle)
      fieldset.actions 
        button Add


block headerLinks
  .actions
    a.list(href="/lists") All Lists